{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5433;Database=internetshop;Username=shop_user;Password=shop_pass"
  },
  "Jwt": {
    "Key": "SuperSecretKeyForInternetShop2026!",
    "Issuer": "InternetShop.API",
    "Audience": "InternetShop.WPF"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
